@import "tailwindcss";
@import "@nuxt/ui";

@theme {
  --breakpoint-md: 550px;
  --breakpoint-lg: 720px;
  --breakpoint-xlg: 1100px;
  --font-sanspro: "Source Sans 3";
}

@layer utilities {
  .grid-auto-fit {
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  }
}

body {
  @apply font-sanspro;
}

.rating {
  @apply absolute right-0 bottom-0 z-10 flex h-14 w-14 items-center justify-center rounded-full duration-200 group-hover:right-5 group-hover:bottom-5 group-hover:h-16 group-hover:w-16 group-hover:text-2xl group-hover:font-bold group-hover:text-black;
}
.carousel {
  @apply max-w-62.5 space-y-6 duration-200 hover:scale-105 hover:cursor-pointer;
}
